[data-bs-theme="light"] {
  #mainNav {
    background-color: var(--bs-light);
  }
}

[data-bs-theme="dark"] {
  #mainNav {
    background-color: var(--bs-dark);
  }
}
.dropdown-menu {
  top: 100%;
  left: -135px;
  margin-top: calc(var(--bs-dropdown-spacer) + 10px);
}
header {
  position: sticky;
  height: auto;
}
.nav-container-01 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  width: 100%;
}
.utility {
  display: flex;
}
.profile-icon {
  height: 32px;
  width: 32px;
  font-size: 32px;
}
.li-link {
  cursor: pointer;
}
.dropdown-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.home-container {
  height: 100%;
}
#main-page {
  height: 90%;
}
.cards {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
