[data-bs-theme='light'] {
  #mainNav {
    background-color: var(--bs-light);
  }
}

[data-bs-theme='dark'] {
  #mainNav {
    background-color: var(--bs-dark);
  }
}
.dropdown-menu {
  top: 100%;
  left: -135px;
  margin-top: calc(var(--bs-dropdown-spacer) + 10px);
}
.nav-header {
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.nav-container-01 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  width: 100%;
}
.utility {
  display: flex;
}
.profile-icon {
  height: 32px;
  width: 32px;
  font-size: 32px;
}
.li-link {
  cursor: pointer;
}
.dropdown-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.home-container {
  height: 100%;
}
#main-page {
  height: 100%;
  margin-top: 80px;
}
.cards {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.actions-area {
  width: 100%;
  margin-top: 10px;
  margin-left: 20px;
}
