.vocab-list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
  width: 100%;
}
.vocab-list {
  padding: 10px;
  margin: 10px;
  border: 1px solid black;
  border-radius: 5px;
  height: 90%;
  width: 90%;
}
